* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.hero {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #e5cff7, #9d76c1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.outer {
  width: 900px;
  height: 550px;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  background-color: rgba(157, 118, 193);
}
.line {
  width: 7px;
  height: 100%;
  background-color: #5b0888;
}
.left-log{
    width: 443px;
}
.right-log form {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 100%;
  justify-content: space-around;
}
.top-log h2 {
  font-size: 2rem;
  color: white;
  font-weight: 700;
  margin-bottom: 10px;
}
.top-log p {
  color: white;
}
.input-blok {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user {
  color: white;
  position: relative;
  margin-top: 20px;
}

.user input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: solid #5b0888 2px;
  background-color: transparent;
  z-index: 5;
  color: #5b0888;
}

.user span {
  position: absolute;
  left: 10px;
  transform: translateY(50%);
  pointer-events: none;
  color: rgba(91, 8, 136, 0.6);
  background-color: transparent;
}
.user input:valid ~ span,
.user input:focus ~ span {
  transform: translateY(-55%);
  padding: 0 5px;
  font-size: 0.8rem;
  background-color: rgb(157, 118, 193);
  transition: all 0.5s ease;
  color: rgb(91, 8, 136);
}
.user .uil {
  color: #5b0888;
  position: absolute;
  transform: translateY(50%) translateX(-170%);
  font-weight: 400;
  cursor: pointer;
}
.user .uil.active {
  display: none;
}
.input-blok button {
  width: 50%;
  padding: 10px;
  background-color: #5b0888;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
